.task {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.task p {
    margin-right: 10px;
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}